.btn-social {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 2rem 0 1.5rem 0;
}

.horizontal-line {
  width: 25%;
  height: 1px;
  background-color: darkgray;
}

.horizontal-line-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.horizontal-line-container p {
  margin-top: 15px;
}

@media screen and (max-width: 992px) {
  .horizontal-line {
    width: 50%;
  }
}
